<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utilisateurs | Hospital</title>
    <div th:replace="fragments/layout-admin :: layout-css"></div>
    <div th:replace="fragments/layout-admin :: layout-js"></div>
</head>
<body>

<div class="wrapper">
    <!--START LAYOUT NAV-LEFT HORIZONTAL-->
    <div th:replace="fragments/layout-admin :: layout-nav-left"></div>
    <!--END LAYOUT NAV-FELT HORIZONTAL-->

    <div class="main-panel">
        <!--START LAYOUT NAV HORIZONTAL-->
        <div th:replace="fragments/layout-admin :: layout-nav"></div>
        <!--END LAYOUT NAV HORIZONTAL-->
        <div th:if="${param.error}">
            <script>
                $.notify({
                    icon: 'pe-7s-gift',
                    message: "Le nom d'utilisateur ou le matricule sont dejat pris"

                }, {
                    type: 'danger',
                    timer: 4000,
                    placement: {
                        from: "top",
                        align: "center"
                    },

                });
            </script>

        </div>

        <div class="content">
            <div class="container-fluid myMainContainer">
                <!--MAIN CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Ajout utilisateur</h4>
                            </div>
                            <div>
                                <div class="content" style="margin: 30px">
                                    <form th:action="@{/admin/users/save}"  method="post" enctype="multipart/form-data">
                                        <div class="form-group row">
                                            <label for="nom" class="col-sm-2 col-form-label">Nom</label>
                                            <div class="col-sm-10">
                                                 <input type="text"  class="form-control" placeholder="Nom" id="nom" name="nom" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="prenom"  class="col-sm-2 col-form-label">Prenom </label>
                                            <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Prenom" id="prenom" name="prenom" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="username" class="col-sm-2 col-form-label">Nom d'utilisateur</label>
                                            <div class="col-sm-10">
                                            <input readonly type="text" class="form-control form-control-lg" placeholder="Nom d'utilisateur" id="username" name="username" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="matricule" class="col-sm-2 col-form-label">Matricule</label>
                                            <div class="col-sm-10">
                                            <input type="text" id="matricule" class="form-control" placeholder="Nom d'utilisateur"  name="matricule" required>
                                            </div>
                                            </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
                                            <div class="col-sm-10">
                                             <input type="password" class="form-control" placeholder="Mot de Passe" id="password" name="password" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="file" class="col-sm-2 col-form-label">Photo</label>
                                            <div class="col-sm-2">
                                             <input type="file"  placeholder="Mot de Passe" id="file" name="file" required>
                                            </div>
                                        </div>
                                        <div class="" style="height: 300px;width:300px;border: 1px solid black;margin: auto">
                                            <img style="width: 100%; height:100%" th:src="@{/upload/images/userdefault.png}" alt="User profile" />
                                        </div>
                                        <div class="form-group row">
                                            <label for="enabled" class="col-sm-2 col-form-label">Etat</label>
                                            <div class="col-sm-10">
                                            <select name="enabled" id="enabled" class="form-control" required>
                                                <option value="" disabled hidden selected>Choisir l'etat</option>
                                                <option value="1">Active</option>
                                                <option value="0">Desactive</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="idService" class="col-sm-2 col-form-label">Services</label>
                                            <div class="col-sm-10">
                                            <select name="idService" id="idService" class="form-control"required >
                                                <option value="" selected hidden disabled>Choisir un service</option>
                                                <option th:each="service : ${services}"  th:value="${service.getId()}"><span th:text="${service.getLibelle()}"></span></option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="idRole" class="col-sm-2 col-form-label">Roles</label>
                                            <div class="col-sm-10">
                                            <select name="idRole" id="idRole" class="form-control"  required multiple>
                                                <option value="" selected hidden disabled>Choisir les roles</option>
                                                <option th:each="role : ${roles}" th:value="${role.getId()}"><span th:text="${role.getLibelle()}"></span></option>
                                            </select>
                                            </div>
                                        </div>
                                        <div style="text-align: center" >
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--MAIN CONTENT-->
            </div>

            <!--START LAYOUT FOOTER-->
            <div th:replace="fragments/layout-admin :: layout-footer"></div>
            <!--START LAYOUT FOOTER-->
        </div>
    </div>
</div>

<script>
    $(document).on('keyup','#matricule,#nom',function () {

        var username =  $('#matricule').val().replace(' ','-')  +  $('#nom').val().replace(' ','-') ;
        $('#username').val(username.toLowerCase());
    })
</script>
</body>
<!--START LAYOUT JS-->

<!--END LAYOUT JS-->
</html>
