<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital | DashBord</title>
    <div th:replace="fragments/layout-admin :: layout-css"></div>
</head>
<body>

<div class="wrapper">
    <!--START LAYOUT NAV-LEFT HORIZONTAL-->
    <div th:replace="fragments/layout-admin :: layout-nav-left"></div>
    <!--END LAYOUT NAV-FELT HORIZONTAL-->

    <div class="main-panel">
        <!--START LAYOUT NAV HORIZONTAL-->
        <div th:replace="fragments/layout-admin :: layout-nav"></div>
        <!--END LAYOUT NAV HORIZONTAL-->

        <div class="content">
            <div class="container-fluid myMainContainer">
                <!--MAIN CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">MON TITRE</h4>
                            </div>
                            <div>
                                <div class="content">
                                    Mon texte
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--MAIN CONTENT-->
            </div>

            <!--START LAYOUT FOOTER-->
            <div th:replace="fragments/layout-admin :: layout-footer"></div>
            <!--START LAYOUT FOOTER-->
        </div>
    </div>
</div>
</body>
<!--START LAYOUT JS-->
<div th:replace="fragments/layout-admin :: layout-js"></div>
<!--END LAYOUT JS-->
</html>
